<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>小米商城-个人中心</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>

	<div id="app">

		<!-- start header -->
		<header>
			<div class="top center">
				<div class="left fl">
					<ul>
						<li><a href="index.html" target="_blank">小米商城</a></li>
						<li>|</li>
						<li><a href="">MIUI</a></li>
						<li>|</li>
						<li><a href="">米聊</a></li>
						<li>|</li>
						<li><a href="">游戏</a></li>
						<li>|</li>
						<li><a href="">多看阅读</a></li>
						<li>|</li>
						<li><a href="">云服务</a></li>
						<li>|</li>
						<li><a href="">金融</a></li>
						<li>|</li>
						<li><a href="">小米商城移动版</a></li>
						<li>|</li>
						<li><a href="">问题反馈</a></li>
						<li>|</li>
						<li><a href="">Select Region</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="right fr">
					<div class="gouwuche fr"><a href="dingdanzhongxin.html">我的订单</a></div>
					<div class="fr">
						<ul>
							<li v-if="user.id!=null">
								<table>
									<tr>
										<td>
											<a>欢迎您，<span>{{user.name}}</span></a>
										</td>
										<td>
											<a @click="loginOut" style="cursor:pointer;color: red;">[退出]</a>
										</td>
									</tr>
								</table>
							</li>
							<li v-if="user.id==null||user.id==''"><a href="login.html" target="_blank">登录</a></li>
							<li v-if="user.id==null||user.id==''">|</li>
							<li v-if="user.id==null||user.id==''"><a href="register.html" target="_blank" >注册</a></li>
							<li>|</li>
							<li><a href="self_info.html">个人中心</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
		<!--end header -->
		<!-- start banner_x -->
		<div class="banner_x center">
			<a href="index.html" target="_blank"><div class="logo fl"></div></a>
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
				<ul>
					<li><a href="liebiao.html?cid=1&currentPage=1">小米手机</a></li>
					<li><a href="liebiao.html?cid=2&currentPage=1">红米</a></li>
					<li><a href="liebiao.html?cid=3&currentPage=1">平板·笔记本</a></li>
					<li><a href="liebiao.html?cid=4&currentPage=1">电视</a></li>
					<li><a href="liebiao.html?cid=5&currentPage=1">盒子·影音</a></li>
					<li><a href="liebiao.html?cid=6&currentPage=1">路由器</a></li>
					<li><a href="liebiao.html?cid=8&currentPage=1">智能硬件</a></li>
					<li><a href="liebiao.html?cid=9&currentPage=1">服务</a></li>
					<li><a href="liebiao.html?cid=10&currentPage=1">社区</a></li>
				</ul>
			</div>
			<div class="search fr">

				<!-- 搜索框 -->
				<form method="post">

					<div class="text fl">
						<!-- 这个是用户输入用户名的输入框 -->
						<input type="text" v-model="pro.pName" name="name" id="searchName" autocomplete="off"
							   class="shuru" placeholder="小米6 小米MIX现货">
					</div>

					<div class="submit fl">
						<!-- 搜索按钮 -->
						<input type="button" class="sousuo" @click="getProsByName" value="搜索"/>
					</div>

					<div class="clear"></div>

				</form>

				<div class="clear"></div>
			</div>
		</div>
		<!-- end banner_x -->
		<!-- self_info -->
		<div class="grzxbj">
			<div class="selfinfo center">
				<div class="lfnav fl">
					<div class="ddzx">订单中心</div>
					<div class="subddzx">
						<ul>
							<li><a href="dingdanzhongxin.html">我的订单</a></li>
						</ul>
					</div>
					<div class="ddzx">个人中心</div>
					<div class="subddzx">
						<ul>
							<li><a href="self_info.html" style="color:#ff6700;font-weight:bold;">我的个人中心</a></li>
						</ul>
					</div>
				</div>
				<div class="rtcont fr">
					<div class="grzlbt ml40">用户名：{{user.name}}</div>
					<div class="subgrzl ml40"><span>账号</span><span>{{user.username}}</span><span><a href="update_info.html">编辑</a></span></div>
					<div class="subgrzl ml40"><span>手机号</span><span>{{user.telephone}}</span></div>
					<div class="subgrzl ml40"><span>密码</span><span>************</span></div>
					<div class="subgrzl ml40"><span>个性签名</span><span>{{user.gexing}}</span></div>
					<div class="subgrzl ml40"><span>我的爱好</span><span>{{user.hobby}}</span></div>
					<div class="subgrzl ml40"><span>收货地址</span><span>{{user.address}}</span></div>

				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- self_info -->

		<footer class="mt20 center">
			<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
			<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div>
			<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
		</footer>

	</div>

	<script src="js/vuejs-2.5.16.js"></script>
	<script src="js/axios-0.18.0.js"></script>
	<script src="js/self_info.js"></script>

	</body>
</html>